{% extends 'base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock title %}
{% block content %}
<h1>Resumen:</h1>
<div class="mb-3 mt-3 container col-12">
    <div class="row">
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-primary  shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary  mb-1">Cantidad Trabajadores</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{trabajadores}}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-5x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary  mb-1">Cantidad Beneficios</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{beneficios}}
                            </div>
                        </div>
                        <div class="col-auto">

                            <i class="far fa-bookmark fa-5x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}