{% extends 'base.html' %}
{% load static %}
{% block title %}Beneficios{% endblock title %}
{% block content %}
<div class="d-flex justify-content-end">
    <a href="/{{appname}}" class="mb-3 btn btn-custom text-light border border-custom"><i
            class="far fa-arrow-alt-circle-left"></i> Volver atrás </a>
</div>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible" role="alert">{{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="mb-3 mt-3 container col-12">
    <div class="row">
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="mb-3 border border-custom p-3 rounded-3">
                <h2>Beneficio</h2>
                <p>Nombre: {{object.nombre}}</p>
                <p>Tipo: {{object.tipo_beneficio}}</p>
                <p>Cupos: {{object.beneficios_elemento.count}}</p>
                <p>Fecha de inicio: {{object.fecha_inicio}}</p>
                <p>Fecha fin: {{object.fecha_fin}}</p>
                <hr>
                <h2>Documentos</h2>
                <form method="post" enctype="multipart/form-data" action="{% url 'beneficios:cargaDoc' pk=object.id %}"
                    class="mb-3">
                    {% csrf_token %}
                    <legend>Cargar documentos</legend>
                    <div class="mb-3">
                        <label for="tipo_documento" class="requiredField">
                            Tipo Documento<span class="asteriskField">*</span> </label>
                        <select name="tipo_documentos" class="select form-control" required="" id="tipo_documento">
                            <option value="" selected="" disabled>---------</option>
                            {% for tipo_documento in tipo_documentos  %}
                            <option value="{{tipo_documento.id}}">{{tipo_documento.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-group">
                        <input type="file" class="form-control" name="archivo">
                        <button type="submit" class="btn btn-custom text-light border border-custom">Upload</button>
                        <i class="fas fa-info-circle ms-1" data-bs-toggle="tooltip" data-bs-placement="right"
                            title="Solo archivos con extensión PDF"></i>
                    </div>
                </form>
                <form method="post" enctype="multipart/form-data"
                    action="{% url 'beneficios:descargaDoc' pk=object.id %}" class="mb-3">
                    {% csrf_token %}
                    <legend>Descargar documentos</legend>
                    <div class="mb-3">
                        <label for="documento" class="requiredField">
                            Documento<span class="asteriskField">*</span> </label>
                        <div class="input-group">
                            <select name="documentos" class="select form-control" required="" id="documento">
                                <option value="" selected="" disabled>---------</option>
                                {% for documento in documentos  %}
                                <option value="{{documento.documento}}">{{documento.nombre}}</option>
                                {% endfor %}
                            </select>
                            <button type="submit"
                                class="btn btn-custom text-light border border-custom">Descargar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="mb-3 border border-custom p-3 rounded-3">
                <h2>Usuarios</h2>
                <ul>
                    {% for tb in trabajador_beneficios  %}
                    <li>{{tb.trabajador.nombre}} {{tb.trabajador.apellido}} - {{tb.elemento.nombre}}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</div>

{% endblock content %}